/*3623*/
div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, th, td {
margin: 0;
padding: 0;
direction: ltr;
}
/*3685*/
hr {
border: solid #dddddd;
border-width: 1px 0 0;
clear: both;
margin: 1.25rem 0 1.1875rem;
height: 0;
}
/*3711*/
ul, ol, dl {
font-size: 1rem;
line-height: 1.6;
margin-bottom: 1.25rem;
list-style-position: outside;
font-family: inherit;
}
/*4194*/
.off-canvas-wrap, .inner-wrap, nav.tab-bar, .left-off-canvas-menu, .left-off-canvas-menu *, .right-off-canvas-menu, .move-right a.exit-off-canvas, .move-left a.exit-off-canvas {
-webkit-transform: translateZ(0x);
-webkit-backface-visibility: hidden;
}
/*4202*/
.left-off-canvas-menu, .right-off-canvas-menu {
width: 84%;
top: 0;
bottom: 0;
height: 100%;
position: absolute;
overflow-y: auto;
background: #333333;
z-index: 1001;
box-sizing: content-box;
}
/*4222*/
.inner-wrap {
-webkit-transition: -webkit-transform 500ms ease;
-moz-transition: -moz-transform 500ms ease;
-ms-transition: -ms-transform 500ms ease;
-o-transition: -o-transform 500ms ease;
transition: transform 500ms ease;
}
/*4300*/
.left-off-canvas-menu {
-webkit-transform: translate3d(-100%, 0, 0);
-moz-transform: translate3d(-100%, 0, 0);
-ms-transform: translate3d(-100%, 0, 0);
-o-transform: translate3d(-100%, 0, 0);
transform: translate3d(-100%, 0, 0);
}
/*4315*/
ul.off-canvas-list {
list-style-type: none;
padding: 0;
margin: 0;
}
/*4319*/
ul.off-canvas-list li label {
padding: 0.3rem 0.9375rem;
color: #999999;
text-transform: uppercase;
font-weight: bold;
background: #444444;
border-top: 1px solid #5e5e5e;
border-bottom: none;
margin: 0;
}
/*4328*/
ul.off-canvas-list li a {
display: block;
padding: 0.66667rem;
color: rgba(255, 255, 255, 0.7);
border-bottom: 1px solid #262626;
}
/*4334*/
.move-right > .inner-wrap {
-webkit-transform: translate3d(84%, 0, 0);
-moz-transform: translate3d(84%, 0, 0);
-ms-transform: translate3d(84%, 0, 0);
-o-transform: translate3d(84%, 0, 0);
transform: translate3d(84%, 0, 0);
}
/*5535*/
.left-off-canvas-menu hr {
border-color: #444444;
margin: 5px 0 10px 0 !important;
}
/*5543*/
ul.off-canvas-list li a {
border-bottom: none !important;
font-size: 1.25rem;
padding: 0.2rem 0.95rem !important;
color: #cccccc;
font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
font-weight: 500;
}
/*5551*/
ul.off-canvas-list li label {
background: none !important;
border-top: none !important;
padding: 0.4rem 0.95rem 0.4rem 0.95rem !important;
font-size: 0.775rem !important;
}
/*5557*/
ul.off-canvas-list li label.first {
padding-top: 0.75rem !important;
}